body{
  background : #efefef;
  font : .8em sans-serif;
  margin: 0;
}

.tab-container{
  background :white;
  margin: 0;
  padding: 0;
  max-height: 50px;
}

ul.tabs{
  margin: 0;
  list-style-type : none;
  line-height : 35px;
  max-height: 50px;
  overflow: hidden;
  display: inline-block;
  padding-right: 20px;
  padding-left: 15px;
  /*border: solid 1px green;*/
}

ul.tabs > li.active{
  z-index: 2;
  background: white;
}

ul.tabs > li.active:before{
  border-color : transparent white transparent transparent;
}


ul.tabs > li.active:after{
  border-color : transparent transparent transparent white;
}

ul.tabs > li{
  float : right;
  margin : 15px 0px 0;
  padding : 0 30px 10px 25px;
  height: 170px;
  background: #ddd;
  position : relative;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  max-width : 200px;
}

ul.tabs > li > a{
  display: inline-block;
  max-width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #222;
}

ul.tabs > li:before, ul.tabs > li:after{
  /*content : '';
  background : transparent;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-width: 10px;
  top: 0px;
  border-style : solid;
  position : absolute;*/
}

ul.tabs > li:before{
  border-color : transparent #ddd transparent transparent;
  -webkit-transform : rotate(48deg);
  left: -23px;
}

ul.tabs > li:after{
  border-color : transparent transparent transparent #ddd;
  -webkit-transform : rotate(-48deg);
  right: -17px;
}

/* Clear Fix took for HTML 5 Boilerlate*/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

